.carousel {
  display: grid;
  grid-template: auto 1fr auto / 1fr auto;
  margin-bottom: var(--titanic);
}

.carousel_button-previous,
.carousel_button-next {
  padding: var(--huge);
  font-size: var(--huge);
  color: var(--tertiary);
  transition: var(--transition-color);
  line-height: 0;
}

.carousel_button-previous:hover,
.carousel_button-next:hover {
  color: var(--primary);
}

.carousel_button-previous {
  grid-area: 1/1;
}

.carousel_button-previous:before {
  content: "\f137";
}

.carousel_button-next {
  grid-area: 1/3;
}

.carousel_button-next:before {
  content: "\f138";
}

.carousel_items {
  grid-area: 1/2;
}

.carousel_index {
  grid-area: 2/1/2/4;
  display: flex;
  justify-content: center;
  padding: var(--huge);
}

.carousel_index_button {
  font-size: var(--tiny);
  padding: var(--tiny);
  margin: var(--tiny);
  color: var(--tertiary);
}

.carousel_index_button.selected {
  font-size: var(--medium);
  color: var(--primary);
}

@media (max-width: 600px) {
  .carousel_button-previous,
  .carousel_button-next {
    padding: var(--small);
  }

  .carousel_index_button {
    margin: 0;
  }
}
