h1,
h2,
h3,
h4 {
  line-height: 1.1;
  text-align: center;
  font-weight: normal;
}

h1,
h4 {
  font-family: var(--font-cursive);
}

h2,
h3 {
  font-family: var(--font-sans-title);
}

h1 {
  font-size: calc(var(--huge) * 2);
  margin: var(--titanic) 0;
  font-style: italic;
}

h2 {
  font-size: var(--large);
  margin: var(--large) 0;
}

h3 {
  font-size: var(--large);
  margin: var(--medium) 0;
}
