.player {
  position: relative;
  overflow: hidden;
}

.player_controls {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(#0001, #0006);
  transform: translateY(100%) translateY(-2px);
  transition: transform 0.3s;
  z-index: 2;
}

.player_progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: cyan;
  transition: width 0.3s;
}

.player_button_overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.player button:before {
  opacity: 0.8;
  font-size: var(--large);
  color: var(--secondary);
  margin: 0 var(--tiny);
}

.player button:hover:before {
  opacity: 1;
}

.player_button_play-pause[data-state="play"]:before,
.player_button_overlay[data-state="play"]:before {
  content: "\f144";
}

.player_button_play-pause[data-state="pause"]:before,
.player_button_overlay[data-state="pause"]:before {
  content: "\f28b";
}

.player_button_fullscreen[data-state="go-fullscreen"]:before {
  content: "\f065";
}

.player_button_fullscreen[data-state="exit-fullscreen"]:before {
  content: "\f066";
}

.player_button_overlay:before {
  font-size: 25vmin !important;
}

.player:hover .player_controls {
  transform: translateY(0);
}

.player:hover .player_button_overlay {
  opacity: 0.3;
}
