*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: inherit;
  line-height: inherit;
}

html {
  font-family: var(--font-sans-text);
  font-size: var(--text-default-size);
  color: var(--primary);
  box-sizing: border-box;
  line-height: 1.5;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  width: 100%;
}

ul {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  max-width: var(--page-max-width);
  margin: 0 auto;
}

video {
  display: block;
  width: 100%;
  outline: none;
}

img {
  display: block;
  object-fit: cover;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

button:active {
  filter: brightness(90%);
}
